<div>
  {{#each 0}}
    <h1>{{name}}</h1>
    <ul>
      <li>Capital:{{capital}}</li>
      <li>Population:{{population}}</li>
      <li>Languages:

        <li>{{languages.name}}</li>

      </li>
    </ul>{{/each}}
</div>